<div class="lot clonable">
	<%= f.hidden_field :_destroy %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<legend>
			<div class="pull-right close">
				<%= link_to_remove_fields "<icon class='icon-trash'></icon>".html_safe, f, "Delete"%>
			</div>

		</div>

		<div class="panel-collapse">
			<fieldset class="header">
				<div class="control-group full-width line">  
				  <%= f.label :chapter, :class => "control-label" %>
				  <div class="controls">
				  <%= 
				  f.select(:parent_chapters, Chapter.all.collect {|p| [ p.title, p.id ] }, { :include_blank => true }) 
      %></div>
				</div>
			</fieldset>
		</div>
	</div>
</div>