<div class="nested-fields">
<%= f.select(:parent_id, @chapter.book.chapters.collect {|p| [p.title, p.id] if p.id != @chapter.id}.compact, include_blank: true ) %>
<%= link_to_remove_association "Remove this Parent Chapter", f
 %>
</div>