.container.chapters
 .row 
  .col-md-12
   %ol.breadcrumb
    %li #{link_to 'Book', book_path(@book) }
    %li #{link_to 'Chapters', book_chapters_path(@book) }
    %li.active New
 .row
  .chapter-list.col-md-12
   .widget-header
    %i.icon-list-alt
    %h3 New chapter

   .widget-content
    = render 'form'
   = link_to 'Back', book_chapters_path(@book), :class => "btn btn-default"
