/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require admin
 *= require redactor-rails
 *= redactor-rails/plugins
 *= require bootstrap3-switch
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
	padding-top: 0px;
}
.wrapper{
	margin-top:30px;
}
.page-actions{
	border-bottom:1px solid #bbb;
	padding:10px;
	color:#000;
	text-align:right;
margin-bottom:20px;
}
.actions{
	border-bottom:1px dotted #bbb;
	width:100%;
	text-align:right;
}
footer {
  height: 100px;
}

.redactor_toolbar li a.redactor_btn_selectChild{
    background: url("binary-tree_14x14.png") center center no-repeat;
}
.redactor_toolbar li a.redactor_btn_selectChild:hover{
    background: url("binary-tree_14x14_hover.png") center center no-repeat;
}
#redactor_modal_inner{
	padding:20px;
}