// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.books{
	border-bottom:1px solid #bbb;
	margin-bottom:20px;
	padding-bottom:20px;
	display:block;
	clear:both;
}