// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
svg {
    overflow: hidden;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

.chapters{
	border-bottom:1px solid #bbb;
	margin-bottom:20px;
	padding-bottom:20px;
}

.node.beginning rect{ fill:rgba(200,255,200, 0.9);}
.node.death rect{ fill:rgba(255,200,200, 0.3);}
.node.active rect{ fill:rgba(200,255,200, 0.3);}

.edgeLabel.beginning { fill: #393;}
.edgeLabel.ending { fill: #f33;}